.gameCard {
    background-color: white;
    border-radius: .5rem;
    width: 12rem;
    height: 12rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform .3s;
}

.gameCard:hover {
    transform: scale(1.1);
}